<div class="row" *ngIf="materials.length > 0">
  <div class="col-sm-2">
    <nav class="nav-sidebar">
      <ul class="nav">
        <li *ngFor="let m of materials" [ngClass]="{ 'active': m.lesson == linkActive }">
          <a (click)='getURLVideo(m.lesson)'>Lección {{m.lesson}}</a></li>
      </ul>
    </nav>
  </div>

  <div class="col-sm-8" *ngIf="src">

    <h3>Curso X <small>Lección #</small></h3>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" [src]='src | safe' width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
    </div>
  </div>

  <div class="col-sm-2" *ngIf="materials.length > 0">
    <nav class="nav-sidebar pull-right">
      <ul class="nav">
        <li class="active"><a>Recursos</a></li>
        <li class="text-overflow" title="Combine them all to make an awesome, safe solution!">
          <a class="media">
                            <span class="pull-left">
                                <i class="media-object glyphicon glyphicon-list"></i>
                            </span>
                            <div class="media-body">
                                Proyecto 1 - Descargar
                            </div>
                        </a>
        </li>
        <li class="nav-divider"></li>
        <li><a><i class="glyphicon glyphicon-off"></i> Descargar Todo</a></li>
      </ul>
    </nav>
  </div>
</div>
<br />