<div class="container">
  <div class="page-header">
    <h1>Cursos <small>Premium</small></h1>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <div class="input-group">
        <input type="text" class="form-control" name="x" placeholder="Buscar..." [(ngModel)]="texto">
        <span class="input-group-btn">
                    <button class="btn btn-default" type="button" (click)="buscar();"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </div>
  </div>

  <br />

  <div class="row" *ngIf="courses.length > 0">
    <div class="col-sm-6 col-md-4" *ngFor="let c of filters">
      <div class="thumbnail">
        <img src="{{c.cover}}" (click)="viewMaterial(c.id_edition, c.name)">
        <div class="caption">
          <h3>{{c.name}}</h3>
          <p><a (click)="viewMaterial(c.id_edition)" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Ver</a>
        </div>
      </div>
    </div>
  </div>

  <p *ngIf="filters.length == 0 || courses.length == 0" style="text-align: center">
    <ngb-alert [dismissible]="false">
      <strong>No se encontraron cursos</strong>
    </ngb-alert>
  </p>

  <div class="row" *ngIf="pagination.length > 1">
    <ul class="pagination">
      <li *ngFor="let p of pagination"><a>{{p}}</a></li>
    </ul>
  </div>
</div>